.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgb(255, 155, 101);
    width: 100%;
    height: 94.5vh;

    .topContent__filter {
        display: flex;
        align-items: center;
        height: 120px;
        justify-content: center;
        gap: 20px;

        input {
            width: 600px;
            border-radius: 20px;
            border-style: none;
            padding-left: 20px;
            height: 40px;
        }

        .topContent__filter__dropdown {
            border: rgb(236, 127, 25);
            background-color: rgb(236, 127, 25);
        }

        .topContent__filter_-dropdownMenu {
            background-color: white;

            .topContent__filter_-dropdownMenu__hover {
                &:hover {
                    background-color: rgb(244, 139, 41);
                }
            }
        }

    }

    .altContent {
        display: grid;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        height: 80vh;
        padding: 20px;
        width: 100%;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);


        .container-content__recipe {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: white;
            width: 600px;
            height: 1000px;
            margin-left: 100px;
            padding: 20px;
            border-radius: 40px;

            p {
                background: rgb(255, 155, 101);
                color: white;
                height: 180px;
                border-radius: 20px;
                padding: 30px;
                width: 100%;
            }

            input {
                width: 90%;
                border-radius: 10px;
                padding-top: 2px;
                padding-left: 5px;
            }

            .container-content__recipe__altBox {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                gap: 10px;
                height: 800px;

                img {
                    width: 300px;
                    height: 300px;
                    object-fit: contain;
                    border-radius: 20px !important;
                }


                .container-content__recipe__altBox__icons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 60px;
                    padding: 20px;
                    background: rgb(255, 155, 101);
                    border-radius: 10px;

                    .icon {
                        font-size: 30px;
                        cursor: pointer;
                        color: white;
                    }

                    .deleteIcon {
                        font-size: 30px;
                        cursor: pointer;
                        color: red;
                    }

                    .point {

                        .ratingYellow {
                            color: yellow;
                        }

                        .raitingGrey {
                            color: grey;
                        }
                    }

                    .averageRating {
                        width: 20px;
                        height: 10px;
                        background: none;
                    }
                }

                h5 {
                    cursor: pointer;
                }

                .container-content__recipe__altBox__comment-area {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    gap: 15px;
                    width: 100%;

                    .sendCommentIcon {
                        position: relative;
                        bottom: 3px;
                        font-size: 30px;
                        color: rgb(251, 126, 59);
                        cursor: pointer;
                    }

                    .recipeCommentPhotoIcon {
                        position: relative;
                        bottom: 3px;
                        font-size: 30px;
                        color: rgb(251, 126, 59);
                        cursor: pointer;
                    }
                }

                .container-content__recipe__altBox__ingredients {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    background: rgb(255, 155, 101);
                    padding: 15px;
                    color: white;
                    height: 220px;
                    border-radius: 10px;
                    overflow: scroll;
                }


                .userCommentArea {
                    height: 250px;
                    width: 100%;
                    overflow: scroll;


                    .recipe-comments {
                        display: flex;
                        align-items: center;
                        height: 120px !important;
                        gap: 20px;
                        width: 100%;

                        .recipe-comments__box {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;
                            width: 100%;

                            p {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 40px;
                            }

                            .recipe-comments__box__p {
                                color: red;
                            }

                        }

                        h6 {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

}

.toast-container {
    position: absolute;
    top: 120px;
    right: 20px;
    background: #a2e47c;
}

.products-popup-container {
    display: flex;
    flex-direction: column;


    .products-popup-container__box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
        background: rgb(255, 155, 101);
        color: white;

        .update-popup-dropdown {
            border: rgb(236, 127, 25);
            background-color: rgb(236, 127, 25);
        }

        .update-popup-dropdownMenu {
            background-color: white;

            .update-popup-dropdown__hover {
                &:hover {
                    background-color: rgb(244, 139, 41);
                }
            }
        }

        .topContent__filter__dropdown {
            border: rgb(236, 127, 25);
            background-color: rgb(236, 127, 25);
        }

        .topContent__filter_-dropdownMenu {
            background-color: white;

            .topContent__filter_-dropdownMenu__hover {
                &:hover {
                    background-color: rgb(244, 139, 41);
                }
            }
        }
    }

    .save-change-button {
        border: rgb(236, 127, 25);
        background-color: rgb(236, 127, 25);

        &:hover {
            border: rgb(255, 148, 48);
            background-color: rgb(255, 148, 48);
        }
    }

    .update-popup-modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .container-content {
        display: flex;
        width: 100%;
        height: 94vh;

        .topContent__filter {
            width: 100%;

            input {
                width: 220px;
                height: 20px;
            }

            .topContent__filter__dropdown {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 30px;
                font-size: 10px;

                .topContent__filter_-dropdownMenu {
                    width: 130px;
                    height: 80px;
                }
            }

        }

        .altContent {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            .container-content__recipe {
                display: flex;
                width: 100%;

                .container-content__recipe__altBox {
                    width: 100%;

                    img {
                        width: 180px;
                        height: 180px;
                    }
                }
            }
        }
    }

}