.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243, 116, 47);
    color: white;

    .container-header__logoutIcon {
        display: flex;
        position: absolute;
        right: 40px;
        font-size: 35px;
        cursor: pointer;
    }
}