.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243, 116, 47);
    color: white;

    .container-header__login {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 40px;

        h5 {
            margin-top: 10px;
            margin-left: 20px;
        }

        .container-header__loginIcon {
            font-size: 35px;
        }
    }

    .container-header__logoutIcon {
        display: flex;
        position: absolute;
        right: 40px;
        font-size: 35px;
        cursor: pointer;
    }
}