.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243, 116, 47);
    color: white;

    .container-header__login {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 20px;
        right: 40px;

        h3 {
            cursor: pointer;
        }

        h5 {
            margin-top: 10px;
        }

        .container-header__loginIcon {
            font-size: 35px;
        }

        .container-header__hamburger {
            font-size: 35px;
            cursor: pointer;
        }
    }

    .container-header__logoutIcon {
        display: flex;
        font-size: 40px;
        cursor: pointer;
    }
}